body {
  padding-top: 50px;
  color: #102731;
}

h1, h2, h3, h4, h4, h6 {
  color: #102731;
}

.top-buffer{
  margin-top: 40px;
}

.bottom-buffer{
  margin-bottom: 40px;
}

.jumbotron,
.blue-flag {
  background-color: #e6f2f8;
  padding: 40px;
}

.blue-flag {
  width: 100%;
}

.navbar-inverse {
  background-color: #102731;
  color:#e6f2f8;
}

.btn-primary:hover {
  background-color: #083c5d;
  border-color: #fff;
  color: #e6f2f8;
}

.btn-primary {
  background-color: #328cc1;
  border-color: #fff;
}

a {
  color: #328cc1;
}

a:hover {
  color: #083c5d;
}

.pix-cap {
  width: 640px;
}

iframe{
  border-width: 0px;
}

footer.jumbotron {
  margin-bottom: 0;
}

.mini-flag {
  max-width: 100px;
  margin: 60px auto;
  display: none;
}

.flag-row {
  margin:auto;
  width: 83.3%;
}

.flag {
  padding: 30px 0 0 0;
}

/* Very large desktops */
@media (min-width: 1200px) {
  .flag-row {
    max-width: 1200px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .flag {
    margin: 0 auto;
  }

  .nj-pix,
  .pix-cap {
    margin: 0 auto;
    max-width: 100%;
  }

  .top-buffer{
    margin-top: 0;
  }

  .mini-flag {
    display: block;
  }

}